---
import Layout from '../layouts/Layout.astro';
import Preloader from '../components/Preloader.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import WhyChoose from '../components/WhyChoose.astro';
import Services from '../components/Services.astro';
import Gallery from '../components/Gallery.astro';
import BrandMarquee from '../components/BrandMarquee.astro';
import Projects from '../components/Projects.astro';
import Pricing from '../components/Pricing.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Confection Univers | Digital Atelier">
	<main class="relative">
		<Preloader />
		<Navbar />
		<Hero />
		<About />
		<WhyChoose />
		<Services />
		<Gallery />
		<BrandMarquee />
		<Projects />
		<Pricing />
		<Contact />
		<Footer />
	</main>
</Layout>
